<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Rene Tim</h1>
        <p>I am currently a second year student at the University of the West Indies, Mona Campus.
           It has been a tough year so far but if it were easy then how would you know you're learning.
           I plan on using udemy courses as well as reading and practicing to attempt to lessen the load 
           brought about by the new topics in the various courses. Hopefully I am disciplined enough to 
           actually follow through on this plan throughout the semester.
        </p>
    </body>
</html>